@font-face {
  font-family: NavFont;
  src: './Spartan-Bold.ttf';
}

.team-members-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001432;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.ct-main {
  position: relative;
  height: 100vh;
  width: 80vw;
  color: white;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ct-main h1 {
  font-size: 4rem;
  padding: 2vh 4vh;
}

.ct-main h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.Team-cards-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
}

.team-card {
  margin: 2vw;
  height: 38vh;
  width: 25vh;
  padding: 1rem;
  border-radius: 1vh;
  box-shadow: 5px 5px 20px black;
}
.member-image {
  width: 25vh;
  height: 25vh;
  border-radius: 2vh;
  overflow: hidden;
}
.tm-image {
  height: 25vh;
  width: 25vh;
  object-fit: cover;
}
.content-on-hover {
  visibility: hidden;
  height: 0vh;
  width: 25vh;
  font-size: 2.2rem;
  box-sizing: border-box;
  border-radius: 2vh;
  position: relative;
  background: rgba(226, 201, 201, 0.3);
  bottom: 26vh;
}
.content-on-hover h6 {
  padding: 2vh 1vh 0 1vh;
}
.member-image:hover .content-on-hover {
  visibility: visible;
  height: 26vh;
}
.team-contact-handles {
  position: relative;
  top: 12vh;
  padding: 1vh;
}
.team-contact-handles a {
  padding: 1vh;
}
.member-details {
  padding: 2vh;
  font-size: 1.4rem;
}
.member-details h4 {
  padding-bottom: 0.5vh;
}
.team-card {
  height: 45vh;
  display: grid;
}
.content-on-hover {
  display: none;
}
.mobile-contact-links {
  display: block;
  position: relative;
  bottom: 0;
}
.mobile-contact-links a {
  padding: 1vh;
}
.member-details {
  padding: 1vh;
}
:root {
  --circle-height: 12vh;
}

.scrollable-side {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollable-side::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollable-side {
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  display: grid;
  grid-gap: calc(var(--circle-height) / 10);
  width: calc(var(--circle-height) * 1.4);
  height: calc(var(--circle-height) * 5.8);
  overflow: scroll;
  align-items: center;
  justify-content: center;
  border: 2px solid #00193f;
  border-radius: calc(var(--circle-height));
  padding: calc(var(--circle-height) / 20);
  background-color: #00193f;
  font-size: calc(var(--circle-height) * 0.12);
  text-align: center;
  font-family: NavFont;
  font-weight: 600;
}
@font-face {
  font-family: NavFont;
  src: './Spartan-Bold.ttf';
}

.circle-box {
  width: var(--circle-height);
  height: var(--circle-height);
  border-radius: calc(var(--circle-height) * 0.5);
  background: linear-gradient(225deg, rgba(136, 30, 173, 1) 35%, rgba(41, 246, 173, 1) 100%);
  color: white;
  display: flex;
  margin: auto;
  cursor: pointer;
}

.circle-active {
  width: calc(var(--circle-height) * 1.4);
  height: calc(var(--circle-height) * 1.4);
  border-radius: calc(var(--circle-height) * 0.7);
  font-size: calc(var(--circle-height) * 0.16);
}

.circle-content {
  margin: auto;
}
.ct-main {
  overflow: scroll;
}
@media screen and (max-width: 820px) {
  .scrollable-side {
    grid-auto-flow: column;
    height: calc(var(--circle-height) * 1.4);
    width: calc(var(--circle-height) * 2.4);
    padding-left: calc(var(--circle-height) * 3.45);
    top: auto;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
  }
  .team-members-main {
    flex-direction: column;
  }
  .ct-main {
    display: inline;
    flex-direction: column;
    height: 80vh;
    overflow: scroll;
    justify-content: center;
  }
  .ct-main h1 {
    font-size: 2.5rem;
  }
  .Team-cards-container {
    grid-template-columns: auto;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) and (min-width: 600px) {
  .Team-cards-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  :root {
    --circle-height: 16vw;
  }
}
