.backg {
  width: 100vw;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1631631480669-535cc43f2327?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=700&q=60');
  background-repeat: no-repeat;
  background-size: cover;
}
.moving {
  z-index: 3;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  /* background-color: white; */
  /* background-repeat: no-repeat; */
  /* background-size:cover; */
  /* background-position: center center; */
  /* width: 100vw; */
}
@font-face {
  font-family: titleFont;
  src: url('./Ellen-Luff_Leyton-Free-Font_170217/LeytonPersonal-Bold.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.namesdiv {
  z-index: 8;
  color: white;
  position: fixed;
  bottom: 3vh;
  right: 40vw;
  text-align: center;
  font-size: 18px;
  width: 22vw;
  /* height: 10vh; */
  /* padding: 2rem; */
  font-family: 'Poppins', sans-serif;
}
.captured{
  color: #e2f839;
  padding:1.2rem;
  background-color: #12121298;
  /* filter: blur(0.9); */
}
.title-udgam {
  width: 50vw;
  /* height: 20vh; */
  background-color: rgba(0, 0, 0, 0.4);
  /* padding: 20vh; */
  top: 30vh;
  z-index: 9;
  font-family: titleFont;
  font-size: 8vw;
  line-height: 30vh;
  position: absolute;
  left: 24vw;
  text-align: center;
  color: #fcfbfc;
}

@media screen and (max-width: 800px) {
  .title-udgam {
    left: 11vw;
    /* position: relative; */
    /* align-items: center; */
    font-size: 12vw;
    width: 80vw;
    line-height: 20vh;
  }
  .namesdiv {
    font-size: 20px;
    width: 30vw;
  }
}
@media screen and (max-width: 450px){
  .namesdiv{
    width: 45vw;
    font-size: 15.5px;
  }
}