@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.event-detais-card {
  display: block;
  height: 0;
  /* overflow-x: auto; */
  width: 67vw;
  backdrop-filter: blur(27px);
  position: fixed;
  left: 15%;
  top: 15%;
  border-radius: 40px;
  z-index: 2;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.event-detais-card a {
  display: none;
}

.para{
  font-size: 132%;
}
.event-detais-card-active {
  display: inline-block;
  height: 65%;
  /* overflow-x: auto; */
  width: 67vw;
  margin-top: 1rem;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 13%;
  top: 11%;
  border-radius: 40px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.event-detais-card-active a {
  display: block;
  z-index: 2;
}


.event-detais-card h1 {
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  top: 0;
  display: inline;
}


.heading{
  width:fit-content;
  display: inline-block;
  margin: 0;
  margin-top: 1%;
}
.event-detais-card .card-items{
  display: none;
}
.event-detais-card-active .card-items{
  display: grid;
}

.card-items {
  display: grid;
  grid-template-columns: 25% 75%;
  /* grid-template-rows: 25% 75%; */
}


.event-content {
  /* overflow: auto; */
  position: relative;
  top: 0%;
  height: 110%;
  /* margin-bottom: 200px; */
}


.event-detais-card p {
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  font-size: 22 px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  word-spacing: 0.4rem;
  padding-right: 20px;
}

.event-content-container::-webkit-scrollbar {
  display: none;
}

.event-content .para {
  /* overflow: auto; */
  position: relative;
  height: fit-content;

}


.event-logo{
  display: flex;
  justify-content: center;
}
.event-detais-card img{
  display:none;
}
.event-detais-card-active img{
  display: block;
}

.event-logo img {
  /* position: relative; */
  /* top: 10%; */
  margin-top: 20%;
  width: 80%;
  height: fit-content;
  /* max-height: 80%; */
  /* left:20%;
  top:20%; */
}

/* Close Button */
.event-detais-card-active .close {
  position: fixed;
  right: 5%;
  top: 5%;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}

.event-detais-card-active .close:hover {
  opacity: 1;
}

.event-detais-card-active .close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: rgb(245, 241, 241);
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.event-content-container{
  position: relative;
  height: 40vh;
  overflow: auto;
}

.event-logo-container {
  display: flex;
  justify-content: center;
  outline: 0 !important;
  margin: 0px auto;
}
@media (min-width:600px){
  .event-detais-card{
    margin-left: 2rem;
  }
  .event-content img{
    height: 2rem;
  }
}
@media (max-width:850px){
  .card-items {
    display:block !important;
  }
  .event-logo img{
    width:20%;
    left: 35%;
    margin: 0.5rem 0;
  }
  .event-content-container{
    height: 30vh;
  }

}

@media (max-width: 600px) {
  .event-detais-card {
    position: fixed;
    top: 92%;
    height: 0;
    width: 0;
    left: 50%;
  }

  .event-detais-card-active {
    position: fixed;
    top: 13%;
    height: 60%;
    width: 90%;
    left: 5%;
  }

  .event-detais-card-active .close:before,
  .close:after {
    height: 13px;
    width: 2px;
  }

  .event-detais-card h1 {
    font-size: 2.4rem;
    top: 0;

  }

  .event-detais-card p {
    font-size: 15px;
    padding-bottom: 2%;
  }

  .event-content {
    height: 70%;
  }

}

@media (min-width:850px) and (max-width:1150px){
  .event-logo img{
    height: 40%;
    width: 67%;
  }
  
 
}
@media (min-width:1150px) and (max-width:1250px){
  .event-logo img{
    height: 45%;
  }
}