.comingsoon{
  position: fixed;
  top: 70%;
  left: 70%;
  height: 10%;
}




.comingsoon  h1{
  color: white;
  position: relative;
  top: 12%;
  font-family: "Fontspring";
  font-size: 250%;
  font-weight: bold;
  text-shadow: 2px 2px #fd4556;
}


.css-4gv7hv-MuiLinearProgress-root::before{
  background-color: transparent !important;
}