.comingsoon{
  position: fixed;
  top: 70%;
  left: 70%;
  height: 100px;
}




.comingsoon  h1{
  color: white;
  position: relative;
  top: 12%;
  font-family: "Fontspring";
  font-size: 2.8rem;
  font-weight: bold;
  text-shadow: 2px 2px #fd4556;
}



.MuiLinearProgress-root::before{
  background-color: transparent !important;
}



@media (max-width: 600px){
  .comingsoon{
    position: fixed;
    top: 62%;
    left: 28%;
    height: 50px;
    width: 55%;
  }
  
  
  
  .comingsoon  h1{
    font-size: 1.2rem;
  }
  
  
  .MuiLinearProgress-root::before{
    background-color: transparent !important;
    
  }
  .MuiLinearProgress-root{
    height: 10px !important;
    width: 150px !important;
  }
  .css-9ft9jb{
    width: 150px !important;
  }
  .comingsoon__text_lines{
    background-color: transparent !important;
  }
}
  
