@font-face {
  font-family: ngc292expand;
  src: url(../fonts/ngc292expand.ttf);
}
.fab-item1,.fab-item2,.fab-item3,.fab-button h3{
  /* font-family: ngc292expand; */
  color: white;
  

}
.fab-item1 {
  position: fixed;
  height: 80px;
  width: 80px;
  
  border-radius: 150px;
  left: 4%;
  bottom: 20%;
  box-shadow: 0 0 5px 2px #fd4556;
  background-color: rgba(62, 70, 82, 60);
  display: flex;
  justify-content: center;
}

.fab-item2 {
  position: fixed;
  height: 80px;
  width: 80px;
  border-radius: 150px;
  left: 37%;
  bottom: 0%;
    box-shadow: 0 0 5px 2px #fd4556;
  background-color: rgba(62, 70, 82, 60);
  display: flex;
  justify-content: center;
}

.fab-item3 {
  position: fixed;
  height: 80px;
  width: 80px;
  border-radius: 150px;
  left: 69%;
  bottom: 20%;
    box-shadow: 0 0 5px 2px #fd4556;
  background-color: rgba(62, 70, 82, 60);
  z-index:20;
  display: flex;
  justify-content: center;
}

.fab-button-active {
  height: 140px;
  width: 140px;
  border-radius: 150px;
  z-index:10;
  animation-duration: 1s;
  transform: scale(0.5);
  transition: all 0.5s ease-in-out;
}

.fab-circular-ring {
  width: 300px;
  height: 150px; /* as the half of the width */
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  transform: rotate(0deg);
  border: 80px solid white;

  opacity: 0.1;
  border-top: 0;
  box-sizing: border-box;
  z-index:-10;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.fab-button h3{
  transform: rotate(180deg);
}


.fab-container {
  position: fixed;
  bottom: -110px;
  z-index:1;
  margin: auto;
  height: 300px;
  display: flex;
  align-items: flex-end;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.fab-container h3{
  rotate: 180deg;
}

.fab-container-active {
  position: fixed;
  bottom: -125px;
  z-index:1;
  margin: auto;
  height: 300px;
  display: flex;
  align-items: flex-end;
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
}
.fab-main-container{
  display: none;
}

@media (max-width: 600px) {
.fab-main-container {
  display: flex;
  justify-content: center;
  z-index:1;
  bottom: 0;
}

  .fab-button-container {
    position: fixed;
    width: 100%;
    height: 140px;
    
    bottom: 0px;
    display: flex;
    justify-content: center;
    z-index:0;

  }
  .fab-button {
    height: 140px;
    width: 140px;
    margin: auto;
    background-color: rgba(62, 70, 82, 60);
    box-shadow: 0 0 5px 2px white;
    border-radius: 150px;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top:-70px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
