.text-scroll{
    display: flex;
    position: absolute;
    font-size: 200%;
     animation: scrollText 15s infinite linear;
     }
     @keyframes scrollText {
         100%{transform: translateX(0%);}
         0%{transform: translateX(-50%);}
       }

       body{
        overflow: hidden;
       }

       .scroll-text{
        width: 66vw;
       }