@font-face {
  font-family: first-font;
  src: url(../fonts/viata-extrabold-1.otf);
}

.title-container {
  position: fixed;
  width: 100%;
}

.main-title {
  text-align: center;
  padding: 2.5vw;

  font-size: 3vw;
  line-height: 3vw;
  margin: 0 auto;
}
.title-image1 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.title {
  color: #fd4556;
  font-family: first-font;
}

body {
  color: white;
}
th {
  text-shadow: 6px 0px #fd4556;
  font-size: 3.5vw;
}
.table {
  font-family: first-font;
  color: white;

  font-size: 2.5vw;
  padding: 0px 28px;
}

.table-body {
  font-family: first-font;
  border-radius: 10px;
  width: 14vw;
  background-color: rgba(52, 59, 71, 60);
  font-weight: 600;
  text-decoration: none;
  list-style: none;
  box-shadow: 2px 2px #fd4556;
}
.events {
  top: 40vh;
  left: 30px;
  padding: 10px;
  position: fixed;
}
.table-body a {
  display: block;
  text-decoration: none;
  color: #fd4556;
  padding: 0.6vw 0.8vw;
}
.table-body a:hover {
  background-color: #3e4652;
  color: #fd4556;
  border-radius: 10px;
}

.line-mobile-view{
  display: none;
}
table{
  border-collapse:collapse;
}
.td-up{
border-radius: 10px 10px 0px 0px;
}
.td-bottom{
border-radius: 0px 0px 10px 10px;
}
@media (max-width: 600px) {
  .main-title {
    font-size: 6vw;
    line-height: 6vw;
  }

  .line-desktop-view{
    display: none;
  }
  
  .line-mobile-view{
    display: block;
  }

  .events {
    width: 50%;
    margin: 0 auto;
    top: 15%;
    margin-left: 15%;
  }
  .table-body a {
    font-size: 1.4rem;
    text-align: center;
    padding: 0.5rem 0;
  }
  .table-body {
    width: 50vw;
    left: 20%;
  }
  .events .table th {
    font-size: 1.7rem;
    text-shadow: 2px 2px #fd4556;
  }
}
@font-face {
  font-family: first-font;
  src: url(../fonts/viata-extrabold-1.otf);
}



.fab-container {
  display: none;
}



.register-button {
  height: 15vw;
  width: 15vw;
  position: fixed;
  top: 80%;
  left: 82%;
  max-width: 200px;
  max-height: 60px;
  z-index: 1;
  display: flex;
  justify-content: center;
  animation-name: reg-animation;
  animation-duration: 4s;
  /* font-family: first-font; */
  /* border-radius: 10px; */
}
/* .register-button a{
  color: white;
  font-family: first-font;
  text-decoration: none;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  margin: auto;
  text-shadow: 2px 2px #fd4556;
} */

@media (max-width: 600px) {
  .fab-container {
    display: block;
  }
  .register-button{
    position: fixed;
    left: 35%;
    width: 30vw;
    bottom: 10%;
  }
  .register-button a{
    font-size: 1.2rem;
    text-shadow: 1px 1px #fd4556;
  }

}