@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.registerContainer > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body{
  background-image: url("./1.jpg");
  /* background: #0f0c29;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #24243e, #302b63, #0f0c29); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.registerContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register{
  max-width: 978px;
  width: 80vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: rgba(0,0,0,.5);
}

.register span{
  color: #adb5bd;
}

#form{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

@media screen and (max-width: 800px) {
  #form{
    width: 70vw;
  }
}

#form input, #form select{
  border-radius: 5px;
  width: 80%;
}

.signinbtn{
  width: 80%;
  height: 50px;
  border-radius: 10px;;
  /* margin: 20px 20px; */
}

/* .btn{
  width: 85%;
} */

#form >  input, #form > select,  .signinbtn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus, #form > select:focus{
  outline: none;
}

#form > .signinbtn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}