@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.close {
  position: fixed;
  right: 5%;
  top: 5%;
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: rgb(245, 241, 241);
}
.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

@media (max-width: 600px) { .close:before,
  .close:after {
    height: 13px;
    width: 2px;
  }
}


.registerContainer > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

.registerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.g-sign-in-button{
  position: relative;
  /* height: 100vh; */
  display: flex;
  top: 45%;
  margin-top: 60px;
  padding-left: 10px;
  /* justify-content: center; */
}

.register-button {
  /* height: 15vw; */
  /* width: 15vw; */
  /* max-width: 200px; */
  /* max-height: 60px; */
  position: relative;
  top: 45%;
  z-index: 1;
  animation-name: reg-animation;
  animation-duration: 4s;
}
.register{
  max-width: 850px;
  width: 80vw;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f7d4d4;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  /* background: #3d0b0b; */
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
}

.register span{
  color: #adb5bd;
}

#form{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

@media screen and (max-width: 800px) {
  #form{
    width: 80vw;
  }
}

.refisterForm{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0px;
}

#form input, #form select{
  border-radius: 5px;
  width: 80%;
  max-height: 5vh !important;
}

.register-heading {
  font-size: 3rem;
  color: white;
  margin: 1rem;
}

.signinbtn{
  width: 80%;
  height: 50px;
  border-radius: 10px;
  /* margin: 20px 20px; */
}

.btn{
  width: 85%;
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
  color: black; 
}
select:invalid {
  color: gray;
}


#form >  input, #form > select,  .signinbtn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus, #form > select:focus{
  outline: none;
}

#form > .signinbtn{
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-left{
  margin: auto;
  padding: 1rem 3rem;
}

.col-right {
  margin: auto;
  padding: 1rem 2rem;
  padding-left: 0rem;
}
.register .col-right img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-right img{
    display: initial;
  }
}

@media screen and (max-width: 860px) {
  .col-right{
    padding-right: 0;
  }
}

.bg {
  background: url(../images/background.png);
  /* background-repeat: repeat; */
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}
.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@keyframes sf-fly-by-1 {
  from {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(0);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-600px);
    opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
    transform: translateZ(-1800px);
    opacity: 0.5;
  }
  to {
    transform: translateZ(-1200px);
    opacity: 0.5;
  }
}
.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc,
    -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7,
    758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke,
    183px 389px #c7c7c7, 524px -237px #f0f0f0, 679px -535px #e3e3e3,
    158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb,
    719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4,
    870px -134px #cfcfcf, 446px 404px #c2c2c2, 440px 490px #d4d4d4,
    414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3,
    641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2,
    727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
    -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0,
    -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2,
    755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6,
    554px -176px #ededed, -85px -428px #d9d9d9, 714px 55px #e8e8e8,
    359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc,
    74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf,
    -112px 287px #c9c9c9, -853px 79px #d6d6d6, 828px 475px #d6d6d6,
    -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa,
    -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke,
    -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
    624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed,
    70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke,
    -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9,
    -362px 97px #c2c2c2, 563px 47px #dedede, 313px 475px #e0e0e0,
    839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2,
    -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white,
    170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
    -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6,
    808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc,
    -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3,
    -383px 368px #f7f7f7, 419px 288px #d1d1d1, -598px -50px #c2c2c2,
    -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6,
    392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb,
    98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}

.ees {
  color: rgba(189, 57, 68, 255);
  text-align: center;
}

@media screen and (max-width: 350px) {
  .register-heading{
    font-size: 11vw;
  }
}
@media screen and (max-width: 600px) {
  .form-toast{
    height: 10% !important;
    bottom: 20% !important;
    width: 100% !important;
  }
}
