.footer{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    height : 30px;
    width: 100vw;
    background-color:#BD3944;
    z-index: 2;
}
@font-face {
    font-family: footerFont;
    src: url("../../fonts/ngc292expand.ttf");
 }
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: footerFont;
    font-weight: 200;
    font-size: 15px;
    line-height: 75px;
    color: #000000;
}

.cr{
    height: 18px;
    width: 18px;
    margin-right: 3px;
}