@font-face {
  font-family: "Fontspring";
  src: local("Fontspring"),
    url("./fonts/Fontspring-DEMO-viata-extrabold.otf") format("truetype");
  font-weight: bold;
}

.landing-page-images {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
/* .landing-page-images img {
  width: 100%;
  height: 100%;
} */
.characters-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  align-items: stretch;
  text-align: center;
}

.characters-image img {
  height: 100vh;
  /* width: 100vw; */
  /* max-height: 85%; */
  /* max-width: 30%; */
  top:3vw;
  bottom: 10%;
  /* position: fixed; */
  left: 35%;
}



@media (max-width: 600px) {
  .characters-image img {
    height: 75vh;
    margin-top: 2vh;
    /* position: relative;
    top:3vh; */
    /* position: fixed; */
    /* max-width: 150%; */
    /* width: 65%; */
    /* left: 10%; */
    /* bottom: 42%; */
  }
  .characters-image{
    text-align: center;
  }
  .events {
    display: none;
  }
}
