@font-face {
  font-family: "Fontspring";
  src: local("Fontspring"),
    url("./fonts/Fontspring-DEMO-viata-extrabold.otf") format("truetype");
  font-weight: bold;
}

.landing-page-images {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}
.characters-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  align-items: stretch;
}

.characters-image img {
  height: 100vh;
  width: 100vw;
  max-height: 85%;
  max-width: 30%;
  bottom: 10%;
  position: fixed;
  left: 35%;
}



@media (max-width: 600px) {
  .characters-image img {
    height: 48vh;
    position: fixed;
    max-width: 150%;
    width: 55%;
    left: 20%;
    bottom: 42%;
  }
  .event-list-main {
    display: none;
  }
}
