/*------- Valo button------- */
:root {
    --background-color: #0f1923;
  }
  
  .img-valo{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
  }
  
  /* body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
  } */
  .valo-btn{
    position: absolute;
    width:90%;
    top: 11%;
    left:1.5%;
  }
  .btn {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    
    /* background: none; */
    /* padding: 0; */
    color:#ff4655;
    cursor: pointer;
    /* Clean style */
    
    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7D8082;
    --button-background-color: #ece8e1;
    --highlight-color: #ff4655;
    --button-inner-border-color: transparent;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);
    
    position: relative;
    padding: 5px;
    /* margin-bottom: 0px; */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    width: 20%;
    /* height: 10%; */
    transition: all .2s ease;
  }
  .btn--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
  }
  
  .btn::before,
  .btn::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 10px);
    border: 1px solid var(--border-color);
    transition: all .2s ease;
  }
  
  .btn::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .btn::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .btn:active,
  .btn:focus {
    outline: none;
  }
  
  .btn:active::before,
  .btn:active::after {
    right: 3px;
    left: 3px;
  }
  
  .btn:active::before {
    top: 3px;
  }
  
  .btn:active::after {
    bottom: 3px;
  }
  
  .btn__inner {
    position: relative;
    display: block;
    padding: 14px 0px ;
    background-color: var(--button-background-color);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
  }
  
  .btn__inner::before {
    content: '';
    /* display: block; */
    position: absolute;
    top: 0; left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
  }
  
  .btn__inner::after {
    content: '';
    display: block;
    position: absolute;
    right: 0; bottom: 0;
    width: 6px;
    height: 6px;
    background-color: var(--button-bits-color);
    transition: all .2s ease;
  }
  
  .btn__slide {
    display: block;
    position: absolute;
    top: 0; 
    bottom: -1px; 
    left: -8px;
    width: 0;
    background-color: var(--highlight-color);
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .btn__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 98%;
    /* margin-left: -10px; */
  }
  
  .btn:hover {
    color: var(--button-text-color-hover);
  }
  
  .btn:hover .img-valo{
    filter: brightness(0) invert(1);
  }

  .btn:hover .btn__slide {
    width: calc(100% + 15px);
  }
  
  .btn:hover .btn__inner::after {
    background-color: var(--button-bits-color-hover);
  }
  @media screen and (min-width:950px) {
    .btn__content{
      letter-spacing: 1.2px;
    }
  }
  @media screen and (max-width:800px){
    .btn__content{
      font-size: 85%;
  }
  }
  @media screen and (max-width:600px){
    .valo-btn{
        top: 15%;
        left: 70%;
        width: 130%;
    }
    
  }
  @media screen and (max-width:450px) {
    .valo-btn{
        top: 10.6%;
        left: 62%;
        width: 180%;
    }
    .btn__inner{
        padding: 5px;
    }
    .btn__content{
        font-size: 80%;
    }
  }